################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet/HelloWorld/.vs/HelloWorld/v16
/DotNet/HelloWorld/HelloWorld/bin/Debug
/DotNet/HelloWorld/HelloWorld/obj/Debug
DotNet/HelloWorldCore/bin/Debug/netcoreapp3.1/HelloWorldCore.deps.json
DotNet/HelloWorldCore/bin/Debug/netcoreapp3.1/HelloWorldCore.dll
DotNet/HelloWorldCore/bin/Debug/netcoreapp3.1/HelloWorldCore.exe
DotNet/HelloWorldCore/bin/Debug/netcoreapp3.1/HelloWorldCore.pdb
DotNet/HelloWorldCore/bin/Debug/netcoreapp3.1/HelloWorldCore.runtimeconfig.dev.json
DotNet/HelloWorldCore/bin/Debug/netcoreapp3.1/HelloWorldCore.runtimeconfig.json
DotNet/HelloWorldCore/obj/HelloWorldCore.csproj.nuget.dgspec.json
DotNet/HelloWorldCore/obj/HelloWorldCore.csproj.nuget.g.props
DotNet/HelloWorldCore/obj/HelloWorldCore.csproj.nuget.g.targets
DotNet/HelloWorldCore/obj/project.assets.json
DotNet/HelloWorldCore/obj/project.nuget.cache
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.AssemblyInfo.cs
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.AssemblyInfoInputs.cache
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.assets.cache
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.csproj.CoreCompileInputs.cache
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.csproj.FileListAbsolute.txt
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.csprojAssemblyReference.cache
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.dll
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.exe
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.genruntimeconfig.cache
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.pdb
/DotNet/CommonTypeSystemDemo/.vs/CommonTypeSystemDemo/v16
/DotNet/CommonTypeSystemDemo/CommonTypeSystemDemo/bin/Debug
/DotNet/CommonTypeSystemDemo/CommonTypeSystemDemo/obj/Debug
/DotNet/CommonTypeSystemDemo/CtsTestApp/bin/Debug
/DotNet/CommonTypeSystemDemo/CtsTestApp/obj/Debug
/DotNet/FileStreamDemo/.vs/FileStreamDemo
/DotNet/FileStreamDemo/FileStreamDemo/bin/Debug
/DotNet/FileStreamDemo/FileStreamDemo/obj/Debug
/DotNet/TiedostoJaPoikkeukset/.vs/TiedostoJaPoikkeukset/v16
/DotNet/TiedostoJaPoikkeukset/TiedostoJaPoikkeukset/bin/Debug
/DotNet/TiedostoJaPoikkeukset/TiedostoJaPoikkeukset/obj/Debug
/DotNet/HttpClientDemo/.vs/HttpClientDemo/v16
/DotNet/HttpClientDemo/HttpClientDemo/bin/Debug
/DotNet/HttpClientDemo/HttpClientDemo/obj/Debug
/DotNet/HttpClientDemo/HttpClientGui/bin/Debug
/DotNet/HttpClientDemo/HttpClientGui/obj/Debug
