################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet/HelloWorld/.vs/HelloWorld/v16
/DotNet/HelloWorld/HelloWorld/bin/Debug
/DotNet/HelloWorld/HelloWorld/obj/Debug
DotNet/HelloWorldCore/bin/Debug/netcoreapp3.1/HelloWorldCore.deps.json
DotNet/HelloWorldCore/bin/Debug/netcoreapp3.1/HelloWorldCore.dll
DotNet/HelloWorldCore/bin/Debug/netcoreapp3.1/HelloWorldCore.exe
DotNet/HelloWorldCore/bin/Debug/netcoreapp3.1/HelloWorldCore.pdb
DotNet/HelloWorldCore/bin/Debug/netcoreapp3.1/HelloWorldCore.runtimeconfig.dev.json
DotNet/HelloWorldCore/bin/Debug/netcoreapp3.1/HelloWorldCore.runtimeconfig.json
DotNet/HelloWorldCore/obj/HelloWorldCore.csproj.nuget.dgspec.json
DotNet/HelloWorldCore/obj/HelloWorldCore.csproj.nuget.g.props
DotNet/HelloWorldCore/obj/HelloWorldCore.csproj.nuget.g.targets
DotNet/HelloWorldCore/obj/project.assets.json
DotNet/HelloWorldCore/obj/project.nuget.cache
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.AssemblyInfo.cs
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.AssemblyInfoInputs.cache
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.assets.cache
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.csproj.CoreCompileInputs.cache
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.csproj.FileListAbsolute.txt
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.csprojAssemblyReference.cache
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.dll
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.exe
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.genruntimeconfig.cache
DotNet/HelloWorldCore/obj/Debug/netcoreapp3.1/HelloWorldCore.pdb
/DotNet/CommonTypeSystemDemo/.vs/CommonTypeSystemDemo/v16
/DotNet/CommonTypeSystemDemo/CommonTypeSystemDemo/bin/Debug
/DotNet/CommonTypeSystemDemo/CommonTypeSystemDemo/obj/Debug
/DotNet/CommonTypeSystemDemo/CtsTestApp/bin/Debug
/DotNet/CommonTypeSystemDemo/CtsTestApp/obj/Debug
/DotNet/FileStreamDemo/.vs/FileStreamDemo
/DotNet/FileStreamDemo/FileStreamDemo/bin/Debug
/DotNet/FileStreamDemo/FileStreamDemo/obj/Debug
/DotNet/TiedostoJaPoikkeukset/.vs/TiedostoJaPoikkeukset/v16
/DotNet/TiedostoJaPoikkeukset/TiedostoJaPoikkeukset/bin/Debug
/DotNet/TiedostoJaPoikkeukset/TiedostoJaPoikkeukset/obj/Debug
/DotNet/HttpClientDemo/.vs/HttpClientDemo/v16
/DotNet/HttpClientDemo/HttpClientDemo/bin/Debug
/DotNet/HttpClientDemo/HttpClientDemo/obj/Debug
/DotNet/HttpClientDemo/HttpClientGui/bin/Debug
/DotNet/HttpClientDemo/HttpClientGui/obj/Debug
/DotNet/TIetoturvaDemo/.vs/TIetoturvaDemo/v16
/DotNet/TIetoturvaDemo/TIetoturvaDemo/bin/Debug
/DotNet/TIetoturvaDemo/TIetoturvaDemo/obj/Debug
/DotNet/YksikkötestausDemo/.vs/YksikkötestausDemo/v16
/DotNet/YksikkötestausDemo/YksikkötestausDemo/bin/Debug
/DotNet/YksikkötestausDemo/YksikkötestausDemo/obj/Debug
/DotNet/YksikkötestausDemo/YksikkötestausDemoTests/bin/Debug
/DotNet/YksikkötestausDemo/YksikkötestausDemoTests/obj/Debug
/DotNet/WinFormsDemoSovellus/.vs/WinFormsDemoSovellus/v16
/DotNet/WinFormsDemoSovellus/WinFormsDemoSovellus/bin/Debug
/DotNet/WinFormsDemoSovellus/WinFormsDemoSovellus/obj/Debug
/DotNet/WpfDemo/.vs/WpfDemo/v16
/DotNet/WpfDemo/WpfDemo/bin/Debug
/DotNet/WpfDemo/WpfDemo/obj/Debug
/DotNet/LinqDemo/.vs/LinqDemo/v16
/DotNet/LinqDemo/LinqDemo/bin/Debug
/DotNet/LinqDemo/LinqDemo/obj/Debug
/DotNet/EntityFrameworkDemo/.vs/EntityFrameworkDemo/v16
/DotNet/EntityFrameworkDemo/EntityFrameworkDemo/bin/Debug/netcoreapp3.1
/DotNet/EntityFrameworkDemo/EntityFrameworkDemo/obj
/DotNet/AspNetWebApiDemo/.vs/AspNetWebApiDemo
/DotNet/AspNetWebApiDemo/AspNetWebApiDemo/bin/Debug/netcoreapp3.1
/DotNet/AspNetWebApiDemo/AspNetWebApiDemo/obj
/DotNet/EntityFrameworkDemo/.vs/EntityFrameworkDemo/DesignTimeBuild
/DotNet/DataIntegraatioDemo/.vs/DataIntegraatioDemo/v16
/DotNet/DataIntegraatioDemo/DataIntegraatioDemo/bin/Debug/netcoreapp3.1
/DotNet/DataIntegraatioDemo/DataIntegraatioDemo/obj
/DotNet/Valuuttakurssit/.vs/Valuuttakurssit/v16
/DotNet/Valuuttakurssit/Valuuttakurssit/bin/Debug
/DotNet/Valuuttakurssit/Valuuttakurssit/obj/Debug
/FullStackDemo/FullStackAspNetWebApiDemo/.vs/FullStackAspNetWebApiDemo
/FullStackDemo/FullStackAspNetWebApiDemo/FullStackAspNetWebApiDemo/bin/Debug/net5.0
/FullStackDemo/FullStackAspNetWebApiDemo/FullStackAspNetWebApiDemo/obj
/FullStackDemo/FullStackAspNetWebApiDemo/FullStackAspNetWebApiDemo/FullStackAspNetWebApiDemo.csproj.user
